.title {
  position: absolute;
  width: 917px;
  height: 207px;
  left: 264px;
  top: 92px;
  
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #9DB9FF;
}

.container {
  position: flex;
  width: 1244px;
  height: 855px;
  left: 101px;
  top: 275px;
  
  background: #061931;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 150px;
}

.containerElipse {
  position: flex;
  width: 1626px;
  height: 1012.27px;
  left: -288.5px;
  top: -54.43px;
  
  background: #BED8FF;
}

.doctorsSpace {
   display: flex;
   padding: 10px;
   flex-wrap: wrap;
   justify-content: space-between;
}

/*
.container {
  width: 100%;
  min-height: 100vh;
  background: #272b33;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 0 120px;
  padding-top: 64px;
}

.container .loadingTxt {
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin-top: 32px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.imageContainer {
  width: 100%;
}

.imageContainer .image {
  display: block;
  width: 100%;
}

.details {
  grid-column-start: 2;
  grid-column-end: 4;
}

.details .title {
  display: block;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

.details .info {
<<<<<<<< HEAD:src/pages/DoctorList/DoctorList.module.css
    margin: 16px 0;
    font-size: 20px;
    color: #fff;
}
*/
========
  margin: 16px 0;
  font-size: 20px;
  color: #fff;
}
>>>>>>>> 688c6c18dfe835397fb3a542bfe5dcdba206c2eb:src/pages/DoctorDetailsPage/DoctorDetailsPage.module.css
