.container {
  background: #fff;
  display: flex;
  margin: auto;
  justify-content: center;
  justify-self: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.container .form {
  width: 380px;
  padding: 24px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  background: #fff;
  margin-top: 32px;
}

.container .form .title {
  font-size: 42px;
  text-align: center;
  letter-spacing: -2%;
  line-height: 44px;
  font-weight: 600;
  color: #749bff;
}

.container .form .welcomeTxt {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #475467;
  margin-bottom: 32px;
}

.container .form .inputContainer label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 6px;
  color: #749bff;
}
.container .form .inputContainer input {
  display: block;
  width: 100%;
  min-height: 44px;
  padding: 10px 14px 10px 14px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #d0d5dd;
}
.container .form .inputContainer input::placeholder {
  color: #667085;
}
.select {
  text-align: center;
}
.options {
  padding: 5px 32px 5px 32px;
  display: inline-flex;
}
.container .form .submitBtn,
.container .form .googleBtn {
  display: block;
  outline: none;
  border: none;
  padding: 10px 18px;
  height: 44px;
  background: #9db9ff;
  border: 1px solid #181b20;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

.container .form .googleBtn {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  color: #9db9ff;
}

.container .form .loginRedirect {
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  justify-content: center;
  justify-items: center;
}

.container .form .loginRedirect .redirectLink {
  font-weight: 600;
  color: #9db9ff;
  text-decoration: underline;
  justify-self: center;
}

.centrate {
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
