.container {
  position: absolute;
  width: 247px;
  height: 338px;
  left:524px;
  top: 33px;
  border-radius: 80px;
  background: #FFFFFF;
}

.image {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  top: 18px;
}

.name {
  position: absolute;
  width: 250px;
  height: 95px;
  left: 0px;
  top: 145px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.starsText {
  position: absolute;
  width: 95px;
  height: 50px;
  left: 58px;
  top: 223px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #9DB9FF;
}

.linkSeeMore {
  position: absolute;
  width: 315px;
  height: 24px;
  left: -34px;
  top: 272px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/*
.name:hover {
  color: #ff9800;
  cursor: pointer;
}

.name .link {
  font-size: inherit;
  font-style: inherit;
  color: inherit;
  text-decoration: none;
}

.infoContainer {
  margin: 0.5rem 0;
}

.subtitle {
  color: rgb(158, 158, 158);
  font-weight: 300;
  font-size: 18px;
}

.subtitleInfo {
  font-weight: 400;
  font-size: 18px;
}

.rightSideContainer {
  color: rgb(255, 255, 255);
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}
*/