.container {
  background: #272b33;
  min-height: 100vh;
  padding: 30px;
}

.title {
  font-size: 2em;
  text-align: center;
  color: white;
}

.characters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}

.loading {
  display: block;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin-top: 32px;
  grid-column-start: 1;
  grid-column-end: 3;
}
